<nav class="navbar navbar-expand-md navbar-dark bg-dark">

  <div>
    <img 
      style="margin-top: -0.5rem;" 
      src="/assets/icons/jugglicon.png" 
      width="36">
    </img>
    <a class="navbar-brand ml-2" href="/">
      Juggling Club at UCSB
    </a>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      {% for item in site.data.navigation %}
        <li 
            {% if page.url == item.link %} 
              class="nav-item mr-2 active" 
            {% else %} 
              class="nav-item mr-2" 
            {% endif %} 
            data-toggle="collapse" data-target="#nav" aria-expanded="false" 
        >
          <a class="nav-link" href="{{ item.link }}">
            {% if item.name == "Github" %} <i class="fab fa-github" style="font-size:18px"></i> {% endif %}
            {% if item.name == "Pi" %} <i class="fab fa-raspberry-pi" style="font-size:18px"></i> {% endif %}
            {{ item.name }}
            {% if page.url == item.link %}
              <span class="sr-only">(current)</span>
            {% endif %}
          </a>
        </li>
      {% endfor %}

    </ul>

    <!-- Discord Link: -->

    <ul class="navbar-nav">
      <li class="nav-item mr-2 facebook-button px-1 active" data-toggle="collapse" data-target="#nav" aria-expanded="false" >
        <a class="nav-link" href="https://www.facebook.com/groups/166416600086918">
          <i class="fab fa-facebook-f" style="font-size:18px"></i>
        </a>
      </li>
      <li class="nav-item mr-2 discord-button px-1 active" data-toggle="collapse" data-target="#nav" aria-expanded="false" >
        <a class="nav-link" href="https://discord.gg/VMv57VejWu">
          <i class="fab fa-discord" style="font-size:18px"></i>
          Discord
        </a>
      </li>
    </ul>

  </div>
</nav>