
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  /*background-color: rgb(85, 132, 150) !important;*/
  background-image: url("/assets/images/ucsb.webp");
  overscroll-behavior-y: none; /* hack to fix chrome overscrolling */
}

main {
  flex: auto;
}

.footnote-box {
  display: inline-block;
  background-color: #ffffff7f;
  padding: 5px 10px;
  border-radius: 0px 5px 0px 0px;
}

.footnote {
  color: darkslategrey;
  font-size: smaller;
}

.copy-left { /* This class reverses any text */
  display: inline-block;
  text-align: right;
  margin: 0px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: “FlipH”;
}

#search-box {
  display: flex;
  flex-direction: row;
}

#search {
  flex: 1;
}

.custom-button, .discord-button, .facebook-button {
  display: inline-block;
  line-height: 0;
  border-radius: 3px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.discord-button {
  font-family: Whitney, "Open Sans", Helvetica, sans-serif;
  background-color: #5869ea;
  border: 2px solid #5869ea;
  color: #fff;
}

.discord-button:hover {
  background-color: #4757bd;
  border: 2px solid #4757bd;
  transition-duration: 0.2s;
}

.discord-button:active {
  background-color: #3d489f;
  border: 2px solid #3d489f;
  transition-duration: 0.2s;
}

.facebook-button {
  font-family: Whitney, "Open Sans", Helvetica, sans-serif;
  background-color: #1877f2;
  border: 2px solid #1877f2;
  color: #fff;
}

.facebook-button:hover {
  background-color: #166ad8;
  border: 2px solid #166ad8;
  transition-duration: 0.2s;
}

.facebook-button:active {
  background-color: #125ab8;
  border: 2px solid #125ab8;
  transition-duration: 0.2s;
}