
div.content { /* Inner body */
  background-color: #e7e7e7f7;
  max-width: 768px !important;
  height: 100%;
}

@media (min-width: 768px) { /* Customize container */
  div.content {
    padding: 40px 50px;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  div.content {
    padding: 40px 6.5%;
    padding-bottom: 20px;
  }
}

div.jumbotron {
  background-color: #e7e7e7f7;
  margin: 32px auto;
  max-width: 576px;
  text-align: center;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1.5 !important;
}
